In [ ]:
'''

'''

In [ ]:
"""

Q1]** What is 7 to the power of 4?**

"""

In [3]:
7**4

2401

In [ ]:
'''
** Q2] Split this string:**

    s = "Hi there Yogesh!"
    
**into a list. **
'''

In [5]:
s = "Hi there Yogesh!"

In [6]:
s.split()

['Hi', 'there', 'Yogesh!']

In [ ]:
'''
**Q3] Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.
'''

In [7]:
planet = "Earth"
diameter = 12742

In [10]:
"The diameter of {} is {} kilometers.".format(planet,diameter)

'The diameter of Earth is 12742 kilometers.'

In [ ]:
'''
**Q4] Given this nested list, use indexing to grab the word "hello" **

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
'''

In [11]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [12]:
lst[3][1][2][0]

'hello'

In [ ]:
'''
** Q5]Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

    d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
'''

In [13]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [19]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [ ]:
'''
** Q6]What is the main difference between a tuple and a list? **
'''

In [ ]:
#tuple is enclosed in ()paranthesis
#list is enclosed in [] square brackets
#tuple is immutable
#list is mutable

In [ ]:
'''
**Q7] Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**
'''

In [32]:
def fun_Domain(email):
     return email.split('@')[1]

In [33]:
fun_Domain('user@domain.com')

'domain.com'

In [34]:
fun_Domain("priyamorkhade@gmail.com")

'gmail.com'

In [ ]:
'''
**Q8] Create a basic function that returns True if the word 'dog' is contained in the input string.
Don't worry about edge cases like a punctuation being attached to the word dog, 
but do account for capitalization. **

findDog('Is there a dog here?')
'''

In [39]:
'dog' in 'Is there a dog here'.lower().split()

True

In [40]:
def findDog(t):
    return 'dog' in t.lower().split()

In [41]:
findDog('Is there a dog here?')

True

In [ ]:
'''
** Q9] Create a function that counts the number of times the word "dog" occurs in a string. 
    Again ignore edge cases. **
'''

In [4]:
def count_dog(s):
    return s.count('dog')

In [2]:
count_dog('This dog runs dog faster than the other dog dude!')

3

In [ ]:
'''
** Q10] Use lambda expressions and the filter() function to filter out words from a list that don't 
       start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']
'''

In [5]:
seq = ['soup','dog','salad','cat','great']

In [6]:
filter(lambda x:x[0]!='s',seq)

In [7]:
list(filter(lambda x:x[0]!='s',seq))

['dog', 'cat', 'great']

In [ ]:
'''
###   Final Problem
**Q11] You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **,
'''

In [8]:
def caught_speeding(speed,is_birthday):
    if is_birthday==True:
        speed2 = speed-5
    else:
        speed2 = speed
    if speed2<=60:
        print("No Ticket")
    elif speed2>=81:
        print("Big Ticket")
    else:
        print("small ticket")

In [9]:
caught_speeding(64,True)

No Ticket

In [10]:
caught_speeding(81,False)

Big Ticket

In [11]:
caught_speeding(78,True)

small ticket

In [ ]:
'''
Question
 Q13]Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678
'''

In [14]:
s=input("Enter the input")
n=""
a=[0,1,2,3,4,5,6,7,8,9]
if s[0]=='-':
    n=n+s[0]
for c in s:
    if c in str(a):
        n=n+c
print(n)

Enter the input-890jkcnd98nsj56mxcAA2
-89098562

In [ ]:
'''
Q14]
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse
'''

In [13]:
s=input("Enter the input ")
s1=int(s[::-1])
s2=str(int(s)+s1)
while str(s2)!=s2[::-1]:
    s2=str(int(s2)+int(s2[::-1]))
    print("no is: ",s2)
    print("Reverse is: ",s2[::-1])
print("pallindrome is:",s2)

Enter the input 88
no is:  847
Reverse is:  748
no is:  1595
Reverse is:  5951
no is:  7546
Reverse is:  6457
no is:  14003
Reverse is:  30041
no is:  44044
Reverse is:  44044
pallindrome is: 44044

In [ ]:
'''
Q15] Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.
The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19
'''

In [29]:
  s=[0,1,2,3,4,5,6,7,8,9]
  for c in s:
        n1=c+4
        n2=c+2
        n3=c
        n4=c-2
        n5=c
        #print(n1,n2,n3,n4,n5)
        if(n1==n3+n4+n5) and (n1+n2+n3+n4+n5==19):
                num=0
                for d in [n1,n2,n3,n4,n5]:
                    num=num*10+d
                print(num)

75313